section.facebook
  .container

    article.facebook-text
      h1 ¡Nunca más esperar a que pase un taxi!

      p Con taxia.me no solo puedes solicitar un taxi a cualquier hora, cualquier día, también puedes seguir el recorrido en tu celular para tener el control total de tu viaje.
      p Todo esto de forma gratuita!

      a.btn.btn-facebook(href='http://facebook.com/taxiameapp', target='_blank')
        img(src='images/objects/icon-fb.png', alt='Síguenos en facebook')
        span Síguenos en facebook
      span.facebook-link fb.com/taxiameapp

    img.nexus(src='images/objects/nexus.png', alt='Aplicación para Android')