section.features
  .container

    .chofer-info Información para taxistas:
      a.btn.btn-info(href='#') Formulario

    section.features-list
      article.feature
        figure.feature-logo
          img(src='images/objects/feature-gps.png')
        h3 GPS
        p taxia.me te localiza utilizando el GPS de tu teléfono celular sin necesidad de complicadas direcciones.

      article.feature
        figure.feature-logo
          img(src='images/objects/feature-touch.png')
        h3 Solicítalo
        p Fácilmente puedes solicitar un servicio de taxi desde la aplicación las 24 horas al día, 365 días del año.

      article.feature
        figure.feature-logo
          img(src='images/objects/feature-clock.png')
        h3 Rápido
        p Se notificará a taxistas en un radio de 8km a tu ubicación para un servició más rápido.

      article.feature
        figure.feature-logo
          img(src='images/objects/feature-chofer.png')
        h3 Chofer
        p Recibe una notificación con los datos del taxista y sigue su recorrido en la pantalla.