section.intro
  .container
    .intro-hand
      img.layer(data-depth='0.2', src='images/objects/intro-hand.png', alt='Aplicación para iOS')

    article.intro-text
      img(src='images/brand.png', alt='taxia.me')
      img(src='images/favicon.png', alt='favicon')

      h3.title Solicita tu taxi fácilmente
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rutrum mollis mattis. Aliquam in turpis sed tortor sodales ultricies eget nec justo. Pellentesque tempor nisi est, eu sollicitudin nisl pretium at.

      .store-btns
        img(src='images/objects/btn-appstore.png', alt='Descarga taxia.me en AppStore')
        img(src='images/objects/btn-googlestore.png', alt='Descarga taxia.me en Play Store')

      div.coming-soon
        span Muy pronto disponible en Costa Rica