section.intro
  .container
    .intro-hand
      img.layer(data-depth='0.25', src='images/objects/intro-hand.png', alt='Aplicación para iOS')

    article.intro-text
      img(src='images/brand.png', alt='taxia.me')
      img(src='images/favicon.png', alt='favicon')

      h3.title Solicita tu taxi fácilmente
      p Con taxia.me, estés donde estés, siguiendo unos sencillos pasos podrás solicitar un taxi de manera segura, rápida y eficaz sin necesidad de dar complicadas direcciones o esperar en línea por la operadora.

      .store-btns
        a(href='#')
          img(src='images/objects/btn-appstore.png', alt='Descarga taxia.me en AppStore')
        a(href='#')
          img(src='images/objects/btn-googlestore.png', alt='Descarga taxia.me en Play Store')

      div.coming-soon
        span Muy pronto disponible en Costa Rica