section.register
  .container
    h1
      span Sé el primero en usar GRATIS
      img(src='images/brand.png', alt='Taxia.me')

    p Regístrese para ser notificado cuando la aplicación esté disponible en Costa Rica.

    form
      input.input-large(type='text', placeholder='Nombre')
      input.input-medium(type='text', placeholder='E-mail')
      button.btn.btn-danger Enviar