html {
  overflow   : hidden;
  overflow-y : scroll;
}

body {
  @extend %background-white;
  @extend %text-white;
  @extend %text-medium;

  font-family : $primary-font;
  overflow    : hidden;
  overflow-y  : visible;
}