p {
  @extend %margin-vertical-medium;
  line-height : 1.3em;

  &:first-child {
    margin-top : 0;
  }

  &:last-child {
    margin-bottom : 0;
  }

  strong {
    @extend %text-midnight-blue;
  }
}