// Colors array.
$colors :
  asphalt #676767,
  blood   #bd2640,
  clouds  #e9e9e9,
  sky     #0975b2,
  water   #1489cc,
  white   #fff;

// Fonts configuration.
$primary-font : Aller;
$font-sizes   :
  x-small 12px,
  small   14px,
  medium  15px,
  large   18px,
  huge    48px;

// Spacing sizes for padding and margins.
$spaces :
  xx-small  3px,
  x-small   5px,
  small     10px,
  medium    15px,
  large     20px,
  x-large   25px,
  xx-large  30px,
  huge      50px;